#Normal {background: var(--Normal-AL);color: black;}
#Rare {background: var(--Rare-AL);color: black;}
#Elite {background: var(--Elite-AL);color: black;}
#Super-Rare, #Priority {background: var(--SRare-AL);color: black;}
#Ultra-Rare, #Decisive {background: var(--URare-AL2);color: black;}

/* MOBILE USER */
@media screen and (max-width: 360px) {
	/* shipMetadata */
		.shipMetadata {
			display: block;
		}

		/* shipName  */
			.shipName {
				text-align: center;
				font-weight: bolder;
				font-size: 32px;
				top: 5px;
			}

		/* shipInfo */
			.shipInfo {
				display: flex;
				margin-top: 10px;
				width: 100%;
				color: black;
				font-weight: bolder;
				font-size: 10px;
			}

			#thumbnail, #chibi {
				display: none;
			}

			.mobile-tc {
				margin-top: 15px;
			}

			#thumbnail-mobile, #chibi-mobile {
				max-width: 125px;
				height: 125px;
				width: 5%;
			}

			.shipInfo table {
				width: 100%;
			    border-collapse: collapse;
			}

			.shipInfoTitle {
				width: fit-content;
				text-align: left;
			}

			.shipInfoContent {
				width: 50%;
			}

	/* shipMain */
		.shipMain {
			margin-top: 10px;
			display: block;
		}

		.shipData, .shipImage {flex: 1;}

		/* shipImage */
			.shipImage img {
				vertical-align: middle;
				border: 0;
				width: 300px;
			    aspect-ratio: auto 300 / 256;
			    height: 256px;
			}

		/* shipData */
			.shipData {
				color: black;
				display: contents;
				width: 360px;
				overflow: hidden;
			}

			/* shipStats */
				.shipStats-mobile img {
					vertical-align: middle;
					border: 0;
				}

				.shipStats {font-weight: bolder;display: none;}
				.shipStats-mobile {margin-top: 10px; font-weight: bolder;}
				.shipStats-mobile table {width: auto;}
				.shipStats-mobile td {width: 10%;}
				.note-mobile {font-size: 12px;}

			/* shipAux */
				.shipAux {display: block;}

				/* shipGear */
					.shipGear {
						margin-top: 10px;
						text-align: center;
					}

					.shipGear table {width: -webkit-fill-available;}
					.shipGear th {width: auto;}

				/* shipValue */
					.shipValue {margin-top: 10px;}
					.shipValue th {width: auto; height: auto;}
					.shipValue table {width: -webkit-fill-available;}

			/* shipLB */
				.shipLB {margin-top: 10px;}
				.shipLB th {width: auto; height: auto; font-size: 12px;}
				.shipLB td {font-size: 12px;}
				.shipLB table {width: -webkit-fill-available;}

			/* shipSkill */
				.shipSkill {display: none;}
				.shipSkill-mobile {
					margin-top: 10px;
					font-size: 12px;
				}

				.shipSkill-mobile table {
					margin-bottom: 10px;
				}

				.shipSkill-mobile img {
					vertical-align: middle;
					border: 0;
					width: 64px;
					height: 64px;
				    aspect-ratio: auto 64 / 64;
				}
}

/* PC USER */
@media screen and (min-width: 1600px) {
	/* Disabled */
	.mobile-tc {display: none;}
	.shipSkill-mobile {display: none;}
	
	/* shipMetadata */
		.shipMetadata {
			display: block;
		}

		/* shipName  */
			.shipName {
				text-align: center;
				font-weight: bolder;
				font-size: 32px;
				top: 5px;
			}

		/* shipInfo */
			.shipInfo {
				display: flex;
				margin-top: 15px;
				width: 100%;
				color: black;
				font-weight: bolder;
			}

			#thumbnail, #chibi {
				max-width: 125px;
				height: 125px;
				width: 5%;
			}

			.shipInfo table {
				width: 100%;
			    border-collapse: collapse;
			}

			.shipInfoTitle {
				width: 5%;
				text-align: left;
			}

			.shipInfoContent {
				width: 15%;
			}

	/* shipMain */
		.shipMain {
			margin-top: 10px;
			display: flex;
			flex-flow: row-reverse wrap;
		}

		.shipData, .shipImage {flex: 1;}

		/* shipImage */
			.shipImage, .shipImage div {
				margin-left: auto;
				margin-right: auto;
				position: relative;
				overflow: hidden;
				width: -webkit-fit-content;
				height: min-content;
			}

			.shipImage img {
				vertical-align: middle;
				border: 0;
				width: 600px;
			    aspect-ratio: auto 600 / 512;
			    height: 512px;
			}

		/* shipData */
			.shipData {
				color: black;
				display: inline-table;
				margin-right: 10px;
				width: 950px;	
			}

			/* shipStats */
				.shipStats img {
					vertical-align: middle;
					border: 0;
				}

				.shipStats-mobile {margin-top: 10px; font-weight: bolder; display: none;}
				.shipStats {font-weight: bolder;}
				.shipStats table {width: 100%;}
				.shipStats td {width: 10%;}

			/* shipAux */
				.shipAux {display: flex;}
				.shipGear, .shipValue {flex: 1;}

				/* shipGear */
					.shipGear {
						margin-top: 10px;
						text-align: center;
						margin-right: 10px;
					}

					.shipGear table {width: -webkit-fill-available;}
					.shipGear th {width: auto;}

				/* shipValue */
					.shipValue {margin-top: 10px;}
					.shipValue th {width: auto; height: auto;}
					.shipValue table {width: -webkit-fill-available;}

			/* shipLB */
				.shipLB {margin-top: 10px;}
				.shipLB th {width: auto; height: auto;}
				.shipLB table {width: -webkit-fill-available;}

			/* shipSkill */
				.shipSkill {
					margin-top: 10px;
				}

				.shipSkillTitle {
					width: 10%;
				}

				.shipSkillImage {
					width: 10%;
				}

				.shipSkill img {
					vertical-align: middle;
					border: 0;
					width: 128px;
					height: 128px;
				    aspect-ratio: auto 128 / 128;
				}
}