:root {
	--UR-Azur : linear-gradient(135deg,#59AE6A,#48AE96,#60D9EC,#65A5D5,#9491E0,#C382A4);
}

.main-content {
	margin-top: 25px;
	position: relative;
}

/* MAIN TAB */
	.tablists {
		font-size: 16px;
		top: 0;
		padding: 0 1px 0 1px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		color: white;
		overflow: hidden;
		background-color: #001824;
		position: absolute;
		left: 0;
		width: 100%;
		border-bottom: 3px solid red;
	}

	.tablists a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 10px;
		text-decoration: none;
	}

	.tablists a:hover {
		background: #DDD;
		color: black;
	}

	.tablists a:first-child {border-right: 1px solid red;}
	.tablists a:nth-child(2) {border-right: 1px solid red;}


/* ACTIVE TAB (INCLUDE CHILD) */
	.active {
		background-color: grey;
	}

/* TABLINKS = TAB BUTTON */
	.tablinks, .tablinksChild, .tablinksChild2 {
		padding: 10px;
		font-weight: bolder;
	}

/* TABCONTENT = CONTENT CONTAINER */
	.tabcontent h2 {
		text-align: center;
	}

	.tabcontentChild h3 {
		text-align: center;
	}

	.tabcontentChild2 h3 {
		text-align: center;
	}

/* CHILD TAB */
	.tablistsChild li {list-style: none;}
	.tablistsChild, .tablistsChild li, .tablistsChild ul {
		justify-content: center!important;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		font-size: 1rem;
	}

	.tablistsChild {
		border-bottom: 1px solid red;
		left: 0;
		right: 0;
		height: 60px;
	}

/* CHILD2 TAB */
	.tablistsChild2 li {list-style: none;}
	.tablistsChild2, .tablistsChild2 li, .tablistsChild2 ul {
		justify-content: center!important;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		font-size: 1rem;
	}

	.tablistsChild2 {
		border-bottom: 1px solid red;
		left: 0;
		right: 0;
		height: 60px;
	}

/* GLOBAL VARIABLE */
tr, th, td {background: black;width: 100%;}


/* EXPERIENCE TAB */
	/* cexpt/sexpt = commanderexptable / shipexptable */
	.cexpt table, .sexpt table {background: grey;width: 100%;}

	/* Tab - Commander Experience */
		/* commanderexptable - First */
		.cexpB {background: grey;width: 40%;}
		.cexpB th {width: 20%;}
		.cexpB td {width: 5%;text-align: center;font-weight: bolder;}

		/* cextp - Second */
		.clevel {width: 3%;background: rgb(50 50 50);}
		.cnext {width: 6%;background: #9fe8ff;color: black;}
		.ctotal {width: 6%;background: #9fe8ff;color: black;}
		.coils {width: 5%;background: black;}
		.ccoins {width: 5%;background: #ee9;color: black;}

	/* Tab - Ship Experience */
		/* EXPCS Table - First */
		.expcs {width: 100%;}
		.expcs table {background-color: grey;}
		.expcs th {width: 10%;}
		.expcs td {width: 5%;text-align: center;font-weight: bolder;}
		.srar1 {width: 50%;background: #ee9;color: black;}
		.srar2 {width: 50%;background: var(--UR-Azur);color: black;}

		/* EXPCS Table - Second */
		.expcs2 {width: 100%;}
		.expcs2 th {width: 8%;}
		.expcs2 td {width: 5%;text-align: center;font-weight: bolder;}
		.expcs2-sr {background: #ee9;color: black;}
		.expcs2-ur {background: var(--UR-Azur);color: black;}

		/* sexpt - Third */
		.slevel {width: 5%;}
		.snext {width: 10%;background: #9fe8ff;color: black;}
		.stotal {width: auto;background: #9fe8ff;color: black;}

	/* Tab - Stage Experience*/
		.stagExp table {background: grey;width: 100%;}
		.sstage {width: 5%;}
		.smob1 {width: 5%;background: rgb(20 20 20);}
		.smob2 {width: 5%;background: rgb(20 20 20);}
		.smob3 {width: 5%;background: rgb(20 20 20);}
		.sboss {width: 5%;background: rgb(20 20 20);}

